.add-review {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.add-review h1 {
  color: #333;
}

.rating-container {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rating-boxes {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.rating-box {
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #f0f0f0;
  transition: background-color 0.3s;
}

.rating-box.selected {
  background-color: #007bff;
  color: white;
}

.review-container {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.give-review {
  display: flex;
  width: 70%;
  justify-content: start;
}

textarea {
  width: 70%;
  height: 200px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: none;
}

.word-count {
  text-align: right;
  font-size: 0.9rem;
  color: #888;
}

.image-upload-container {
  width: 20%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-upload-container input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

.submit-review-btn {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-review-btn:hover {
  background-color: #0056b3;
}

.upload-button {
  background-color: #7e7e7e;
}

.upload-button:hover {
  background-color: #3f3f3f;
}

.image-preview {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-bottom: 5px;
}

.remove-button {
  padding: 10px 15px;
  background-color: white;
  color: red;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  padding: 10px;
}

.remove-button:hover {
  background-color: white;
}

.upload-button {
  position: relative;
  margin-left: 0 auto;
  padding: 10px;
}
