.lecture-hall-details {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.lecture-wrapper {
  margin-left: 20px;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

button:hover {
  background-color: #0056b3;
}

h1 {
  padding-top: 50px;
  font-size: 3rem;
  margin-bottom: 20px;
}

.reviews {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 70%;
  margin-top: 10px;
}

.review-card {
  display: flex;
  align-items: flex-start;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}
.review-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}
.review-header {
  display: flex;
  justify-content: space-between;
}

.review-rating {
  font-size: 1rem;
  color: gold;
  width: auto;
}

.review-image {
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 20px;
}

.review-image:hover {
  -webkit-filter: brightness(70%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
