.header {
  width: 100%;
  padding: 16px 32px;
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  box-sizing: border-box;
  height: 70px;
  z-index: 3;
}

.logo a {
  text-decoration: none;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.nav {
  display: flex;
  align-items: center;
}

.nav a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  margin-left: 16px;
  transition: color 0.3s ease;
}

.nav a:hover {
  color: #f0db4f;
}

.nav .welcome {
  font-size: 1.1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.welcome:hover {
  color: #f0db4f;
}

.dropdown-arrow {
  margin-left: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 1000;
  box-sizing: border-box;
  width: 100%;
  margin-top: 24px;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition:
    opacity 0.3s ease,
    max-height 0.3s ease;
}

.dropdown-menu.show {
  opacity: 1;
  max-height: 200px;
}

.dropdown-menu button {
  border: none;
  color: #333333;
  cursor: pointer;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 0.8rem;
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 100%;
}

.dropdown-menu button:hover {
  background-color: lightgray;
}
